<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">
                    <div class="icon fa fa-tachometer"></div>
                    <div class="title">{{data.application.name}}</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#ux_nodes">
                        <span class="icon fa fa-cube"></span><span class="title">Cluster</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="ux_nodes" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/cluster/search">search clusters</a>
                                </li>
                                <li><a href="/cluster/edit/new">new cluster</a>
                                </li>
                                <li><a href="/cluster/peer/search">search peers</a>
                                </li>
                                <li><a href="/cluster/peer/edit/new">new peer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#ux_security">
                        <span class="icon fa fa-users"></span><span class="title">Organisation</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="ux_security" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/organisation/edit/new">new organisation</a>
                                </li>
                                <li><a href="/organisation/search">search organisations</a>
                                </li>
                                <li><a href="/organisation/group/edit/new">new group</a>
                                </li>
                                <li><a href="/organisation/group/search">search groups</a>
                                </li>
                                <li><a href="/organisation/user/edit/new">new user</a>
                                </li>
                                <li><a href="/organisation/user/search">search users</a>
                                </li>
                                <li><a href="/organisation/group/edit/new">new group</a>
                                </li>
                                <li><a href="/organisation/group/search">search groups</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                  <a data-toggle="collapse" href="#ux_assemblyline">
                    <span class="icon fa fa-industry"></span><span class="title">Assemblyline</span>
                  </a>
                  <!-- Dropdown level 1 -->
                  <div id="ux_assemblyline" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul class="nav navbar-nav">
                        <li><a href="/assemblyline/project/edit/new">new project</a>
                        </li>
                        <li><a href="/assemblyline/project/search">search projects</a>
                        </li>
                        <li><a href="/assemblyline/edit/new">new assemblyline</a>
                        </li>
                        <li><a href="/assemblyline/search">search assemblylines</a>
                        </li>
                        <li><a href="/assemblyline/directive/edit/new">new directive</a>
                        </li>
                        <li><a href="/assemblyline/directive/search">search directives</a>
                        </li>
                        <li><a href="/assemblyline/control/edit/new">new control</a>
                        </li>
                        <li><a href="/assemblyline/control/search">search controls</a>
                        </li>
                        <li><a href="/assemblyline/droid/edit/new">new droid</a>
                        </li>
                        <li><a href="/assemblyline/droid/search">search droids</a>
                        </li>
                        <li><a href="/assemblyline/blueprint/edit/new">new blueprint</a>
                        </li>
                        <li><a href="/assemblyline/blueprint/search">search blueprints</a>
                        </li>
                        <li><a href="/assemblyline/site/edit/new">new site</a>
                        </li>
                        <li><a href="/assemblyline/site/search">search sites</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>

              <li class="panel panel-default dropdown">
                <a data-toggle="collapse" href="#ux_warehouse">
                  <span class="icon fa fa-database"></span><span class="title">Warehouse</span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="ux_warehouse" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="nav navbar-nav">
                      <li><a href="/warehouse/edit/new">new warehouse</a>
                      </li>
                      <li><a href="/warehouse/search">search warehouses</a>
                      </li>
                      <li><a href="/warehouse/schema/edit/new">new schema</a>
                      </li>
                      <li><a href="/warehouse/schema/search">search schemas</a>
                      </li>
                      <li><a href="/warehouse/object/edit/new">new object</a>
                      </li>
                      <li><a href="/warehouse/object/search">search objects</a>
                      </li>
                      <li><a href="/warehouse/report/edit/new">new report</a>
                      </li>
                      <li><a href="/warehouse/report/search">search reports</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
