<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">
                    <div class="icon fa fa-tachometer"></div>
                    <div class="title">{{data.application.name}}</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#ux_nodes">
                        <span class="icon fa fa-cube"></span><span class="title">Cluster</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="ux_nodes" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/cluster/search">clusters</a>
                                </li>
                                <li><a href="/cluster/peer/search">peers</a>
                                </li>
                                <li><a href="/cluster/peer/dashboard">dashboard</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#ux_security">
                        <span class="icon fa fa-users"></span><span class="title">Organisation</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="ux_security" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/organisation/search">organisations</a>
                                </li>
                                <li><a href="/organisation/group/search">groups</a>
                                </li>
                                <li><a href="/organisation/user/search">users</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                  <a data-toggle="collapse" href="#ux_assemblyline">
                    <span class="icon fa fa-industry"></span><span class="title">Assemblyline</span>
                  </a>
                  <!-- Dropdown level 1 -->
                  <div id="ux_assemblyline" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul class="nav navbar-nav">
                        <li><a href="/assemblyline/project/search">projects</a>
                        </li>
                        <li><a href="/assemblyline/search">assemblylines</a>
                        </li>
                        <li><a href="/assemblyline/directive/search">directives</a>
                        </li>
                        <li><a href="/assemblyline/control/search">controls</a>
                        </li>
                        <li><a href="/assemblyline/droid/search">droids</a>
                        </li>
                        <li><a href="/assemblyline/blueprint/search">blueprints</a>
                        </li>
                        <li><a href="/assemblyline/site/search">sites</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>

              <li class="panel panel-default dropdown">
                <a data-toggle="collapse" href="#ux_warehouse">
                  <span class="icon fa fa-database"></span><span class="title">Warehouse</span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="ux_warehouse" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="nav navbar-nav">
                      <li><a href="/warehouse/search">warehouses</a>
                      </li>
                      <li><a href="/warehouse/schema/search">schemas</a>
                      </li>
                      <li><a href="/warehouse/editor/search">editors</a>
                      </li>
                      <li><a href="/warehouse/object/search">objects</a>
                      </li>
                      <li><a href="/warehouse/report/search">reports</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
